## docker compose --profile prod --env-file /bkp/docker/envs-mcp -f ~/koko/docker/mcp/docker-compose.yaml up -d

name: mcp
services:
  prometheus:
    profiles: [prod]
    image: ghcr.io/pab1it0/prometheus-mcp-server
    container_name: mcp-prometheus
    ports:
      - "8001:8080"
    environment:
      - PROMETHEUS_URL=${PROMETHEUS_URL}
      - PROMETHEUS_MCP_SERVER_TRANSPORT=sse
      - PROMETHEUS_MCP_BIND_PORT=8080
      - PROMETHEUS_MCP_BIND_HOST=0.0.0.0
    restart: always

  terraform:
    profiles: [prod]
    image: hashicorp/terraform-mcp-server:latest
    container_name: mcp-terraform
    ports:
      - "8002:8080"
    environment:
      - TRANSPORT_MODE=streamable-http
      - TRANSPORT_HOST=0.0.0.0
    restart: always

  slack:
    profiles: [prod]
    image: ghcr.io/korotovsky/slack-mcp-server
    container_name: mcp-slack
    ports:
      - "8003:13080"
    environment:
      - SLACK_MCP_XOXB_TOKEN=${SLACK_XOXB_TOKEN}
      - SLACK_MCP_ADD_MESSAGE_TOOL=true
      - TRANSPORT=sse
      - SLACK_MCP_HOST=0.0.0.0
    restart: always

  grafana:
    profiles: [prod]
    image: grafana/mcp-grafana:latest
    container_name: mcp-grafana
    ports:
      - "8004:8000"
    environment:
      - GRAFANA_URL=${GRAFANA_URL}
      - GRAFANA_SERVICE_ACCOUNT_TOKEN=${GRAFANA_SERVICE_ACCOUNT_TOKEN}
    restart: always
