#*/10 * * * * /bkp/fixPrivilegesMovies.sh
0 * * * * rsync -avx --exclude 'timemachine' /bkp/docker /bkp/auth /bkp-ssd/ --delete
# 0 3 * * * rsync -avx /bkp /usb/apollo/ --delete
0 4 * * * rsync -avx /rclone/gdrive /bkp --delete
*/10 * * * * docker run --rm --name subliminal -v /bkp/docker/sublime:/config -v /download/qbittorrent:/download/qbittorrent -v subliminal_cache:/usr/src/cache -it ghcr.io/diaoul/subliminal -c /config/config.toml download /download/qbittorrent
0 5 * * 0 cd ~nahuel/koko && docker compose pull && docker compose up -d --force-recreate qbittorrent plex gitea uptime-kuma portainer homeassistant timemachine your-spotify prometheus alertmanager grafana node-exporter cadvisor smartctl-exporter qbittorrent-exporter iperf3 ollama openwebui test n8n && docker system prune -a -f
0 4 * * * docker restart qbittorrent
# 0 10 * * * hdparm -S 15 /dev/sdc
# 0 10 * * * hdparm -S 15 /dev/sdc1
