---
- name: Ensure /etc/hosts contains all internal hosts
  blockinfile:
    path: /etc/hosts
    marker: "# {mark} ANSIBLE MANAGED HOSTS"
    block: |
      {% for host in groups['all'] %}
      {{ hostvars[host].ansible_host | default(host) }} {{ hostvars[host].hostname | default(host) }}
      {% endfor %}